.reset, html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
 acronym, address, big, cite, code, del, dfn, em, img, ins,
 kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
 center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
 caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
 embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
 section, summary, time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

html {
  line-height: 1;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: white;
}

* {
  box-sizing: border-box;
}

.loginBtn {
  background: #087099;
  color: antiquewhite;
  border: none;
  font-size: 14px;
  margin: 5px;
  height: 30px;
  cursor: pointer;
  min-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
}

.logoutButton{
  width: 20px;
  margin-right: 10px;
  float: right;
}

.mediaPane {
  width: 320px;

  color: #ab9ba9;
  background-color: #ffffff;

  border-left:  1px solid #dddddd;
}

.callListWrapper, .chatList {
  position: absolute;
  top: 40px;
  width: 100%;

  height: calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);

  overflow-y: auto;
  overflow-x: hidden;
}


.tabPane {
  width: 320px;
  background-color: #ffffff;
  border-right:  1px solid #dddddd;
}

.loginPane {
  position: absolute;

  top: 20%;
  width: 100%;
}
.loginHeader{
  padding-left: 10px;
  font-size: 30px;
}
.loginBody {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 18px;
}

.loginStatus {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}

.loginImg {
  float: left;
  margin-right: 10px;
}

.login::-webkit-scrollbar {
  display: none;
}

.headerBanner {
  min-width: 320px;
  width: 100%;
  height: 53px;
  line-height: 53px;
  font-weight: 900;
  padding: 0 1rem;
  color: #ffffff;
  background: #087099;
  text-align: center;
  display: block;
}

.headerBanner button {
  width: 40px;
  height: 40px;

  border: none;
  outline: none;
  cursor: pointer;
  float: right;
}

.headerBanner img {
  margin-top: 6px;
  margin-right: 6px;
  width: 40px;
  height: 40px;

  float: left;
}

.headerText {
  color: #ffffff;
  display: inline-block;
  float: left;
}

.headerButtonsDiv {
  float: right;
  display: table;
}

.headerButtonDiv {
  width: 53px;
  height: 53px;
  padding-top: 12px;

  display:table-cell;
}

.settingsButton {
    background: url(../images/settings.png)  no-repeat;
}

.settingsButton:hover {
    background: url(../images/settings_selected.png) no-repeat;
}

.settingsButton.active {
    background: url(../images/settings_selected.png) no-repeat;
}

.rightSidePaneBtnDiv {
  width: 53px;
  height: 53px;
  padding-top: 12px;
}

.rightSidePaneBtn {
    background: url(../images/sidepanel.png)  no-repeat;
}

.rightSidePaneBtn:hover {
    background: url(../images/sidepanel_selected.png) no-repeat;
}

.rightSidePaneBtn.active {
    background: url(../images/sidepanel_selected.png) no-repeat;
}


.settingsPane {
  line-height: 30px;

  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 65px;
}

.settingsPane button {
  background: #087099;
  color: antiquewhite;
  border: none;
  font-size: 14px;
  margin: 5px;
  height: 30px;
  cursor: pointer;
  min-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settingsPaneBtnDiv {
  padding-top: 20px;
  align-items: center;
  text-align: center;
  width: auto;
  align-self: center;
}

.mainScreen {
  width: 100%;
  height: calc(100% - 57px);
  height: -webkit-calc(100% - 57px);
  height: -moz-calc(100% - 57px);
  display: table;
}

.contentPane, .tabPane, .mediaPane {
  display: table-cell;
  position: relative;
  min-width: 320px;
}

.placeHolderWrapper {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeHolderImgWrapper {
  width: 100%;
  text-align: center;
}

.contactRow {
  position: relative;
  width: 100%;
  height: 53px;
  line-height: 53px;
  padding: 0 1rem;
  background: white;
  text-align: center;
  cursor: pointer;
}

.contactRow:hover {
    background: #f8f8f8;
}

.contactRow.selected {
    background: #e1ecef;
}

.contactAvatarImg {
  border-radius: 50%;

  margin-top: 6px;
  margin-right: 6px;
  width: 40px;
  height: 40px;

  float: left;
}

.contactTitle {
  font-weight: 400;
  color: black;
  display: inline-block;
  float: left;
}

.listHeader {
  padding-right: 10px;
  padding-left: 10px;
  background: #f5f5f5;
  height: 40px;
}

.listHeaderText {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;

  color: #087099;
  font-weight: 600;
  float: left;
  display: inline-block;
}

.listHeaderButtonWrapper, .videoListHeaderButtonWrapper {
  float: right;

  line-height: 18px;

  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;
}

.listHeaderButtonWrapper button, .videoListHeaderButtonWrapper button, .media_call_close_wrap button {
  border: none;
  outline: none;
  cursor: pointer;
}

.listHeaderButton {
  width: 28px;
  height: 28px;
  background: url(../images/ic_start_chat.png)  no-repeat;
}

.listHeaderButton:hover {

  width: 28px;
  height: 28px;
  background: url(../images/ic_start_chat_hover.png) no-repeat;
}

.listHeaderButton.active {
  width: 18px;
  height: 18px;
  background: url(../images/close.png) no-repeat;
}

.videoListHeaderButton {
  width: 18px;
  height: 18px;
  background: url(../images/close.png)  no-repeat;
}

.chatAvatarImg {
  border-radius: 50%;

  float: left;

  width: 40px;
  height: 40px;
}

.chatRowImageWrapper {
  position: relative;
  float: left;
  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;
}

.chatSubject {
  font-weight: 400;
  color: black;
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatMessage{
  font-weight: 200;
  font-size: 12px;
  color: #686868;
  display: block;
  line-height: 20px;

  vertical-align: middle;
}

.chatRowContentWrapper {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  float: left;
  line-height: 60px;
  margin-left: 10px;
}

.chatRow {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 1rem;
  background: white;
  cursor: pointer;
}

.chatRow:hover {
    background: #f8f8f8;
}

.chatRow.selected {
    background: #e1ecef;
}

.chatRowNewMessages {
    font-weight: bold;
}

.chatBubbleImg {
  max-width: 160px;
  max-height: 160px;
  padding: 10px;
}

.chatBubbleIcon {
  max-width: 64px;
  max-height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.bubbleExtraInfoText{
  vertical-align: top;
  font-weight: 200;
  font-size: 12px;
  color: #686868;
  display: inline-block;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.conversationPane {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  margin: 0;
}

.fileSendDragDropOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
}

.fileSendDragDropOverlayText{
  position: relative;
  top: 50%;
  width: 100%;
  text-align:center;
  color: white;
  font-weight: 600;
}

.conversationPaneBanner .bannerContent{
  background: #f5f5f5;
  height: 40px;
  color: #087099;
  font-weight: 600;
}

.bannerImageWrapper {
  position: relative;
  float: left;

  margin-left: 6px;
  margin-right: 10px;

  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;
}

.bannerImage {
  border-radius: 50%;

  width: 30px;
  height: 30px;

  float: left;
}

.bannerTextWrapper {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  float: left;
  line-height: 40px;
  margin-left: 10px;
  float: left;
}

.bannerText {
  color: #087099;
  display: block;
  line-height: 20px;
  vertical-align: middle;
}

.bannerDescText {
  color: #087099;
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 200;
  vertical-align: middle;
  cursor: pointer;
}

.participantsPane {
  width: 100%;
  height: 46px;

  border-bottom: 1px solid #dddddd;
  /* Display with higher z order than bubble list so the participant context
     menu shows over the message content. */
  z-index: 1;
}

.participantsList{
  height: 46px;
}

.participantLi {
  height: 22px;

  display:inline;
}

.participantDiv, .participantPendingDiv {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;

  height: 22px;
  line-height: 22px;

  color: #087099;
  font-size: 12px;

  border-radius: 5px;;
  background: #e1ecef;
  display:inline;

  border: solid 1px #f5f5f5;
}
.participantPendingDiv {
  color: #686868;
  font-size: 12px;
  font-style: italic;
}

#bbmChatInput {
  margin-left: 15px;
  margin-right: 15px;
}

#bbmChatTypingNotification {
  margin-left: 15px;
  margin-right: 15px;
}

.bubbleList {
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;

  min-width: 320px;
  display: block;
  padding-bottom: 6px;
  flex: auto;
}

.messageBubble {
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  min-height: 35px;
  min-width: 120px;
  overflow: hidden;
}

.messageStateImgDiv {
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  margin-left: 6px;
}

.messageStateImg {
  width: 18px;
  height: 18px;
}

.participantInfoImg {
  vertical-align: middle;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 4px;
  height: 16px;
}

.hoverChevron {
  vertical-align: top;
  margin-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
}

.hoverChevronParticipant {
  vertical-align: top;
  margin-top: 1px;
  padding-left: 3px;
  display: inline-block;
}

.bubbleContactName {
  float: left;
  display: inline-block;
}

.incomingBubbleTimestamp {
  display: inline-block;
  float: right;
  color: #686868;
  font-size: 10px;
}

.incomingMessageBubble {
  width: 100%;
  float: left;
}
.incomingMessageBubbleBackground, .incomingPriorityMessageBubbleBackground {
  position: relative;
  vertical-align: top;
  border-radius: 5px;
  background-color: #efefef;
  display: inline-block;
  margin-left: 4px;
}

.incomingPriorityMessageBubbleBackground, .outgoingPriorityMessageBubbleBackground {
  border-left: 20px solid red;
}

.priorityImg{
  display: inline-block;

  position: absolute;  
  top: 50%;
  transform: translate(0%, -50%);
  left: -20px;
  width: 20px;
  height: 20px;

}

.incomingMessageAvatarImg {
  vertical-align: top;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
}

.incomingBubbleFirstRow {
  padding-top: 4px;
  height: 20px;
}

.IncomingBubbleSecondRow {
  padding-top: 4px;
  max-width: 550px;
}

.incomingMessageContent {
  max-width: 450px;
  padding: 10px 10px 10px 5px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  vertical-align: top;
}

.outgoingMessageBubble {
  width: 100%;
  float: right;
}

.outgoingBubbleTimestamp {
  display: block;
  float: right;
  color: #686868;
  font-size: 10px;
}

.outgoingBubbleFirstRow {
  padding-top: 4px;
  height: 20px;
}

.outgoingBubbleSecondRow {
  padding-top: 4px;
  padding-left: 60px;
  max-width: 560px;
  float: left;
}

.outgoingMessageBubbleBackground, .outgoingPriorityMessageBubbleBackground {
  position: relative;
  border-radius: 5px;
  background-color: #cee2eb;
  display: inline-block;
  float: left;
}

.outgoingMessageContent {
  max-width: 440px;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  float: right;
  vertical-align: top;
}

.fileBubbleContent {
  display: inline-block;
}

.fileBubbleTopRow {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  max-width: 350px;
  min-height: 20px;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom: 1px solid black
}

.fileBubbleBottomRow {
  display: block;
  max-width: 350px;
}

.systemMessageBubble {
  width: 100%;
  padding: 10px 0px 10px 0px;
  color: #686868;
  float: left;
}

.systemMessageContent {
  max-width: calc(100% - 200px);
  max-width: -webkit-calc(100% - 200px);
  max-width: -moz-calc(100% - 200px);
  min-width: 120px;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  border-bottom: 1px solid #dddddd;
  float: left;
}

.menuButtonWrapper {
  float: right;

  line-height: 28px;

  padding-right: 10px;

  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;
}

.menuButtonWrapper button {
  width: 28px;
  height: 28px;

  border: none;
  outline: none;
  cursor: pointer;
}

.menuButton {
    background: url(../images/menu.png)  no-repeat;
}

.menuButton:hover {
    background: url(../images/menu_hover.png) no-repeat;
}

.menuButton.active {
    background: url(../images/menu_selected.png) no-repeat;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 10px;
  z-index: 1;
}

.chatMenuButton {
  float: right;
}

.chat-dropdown-content {
  position: fixed;
  background-color: #f9f9f9;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menuItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #f1f1f1
}